:root {
  --dark-blue: #102336;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  color: black;
  background-color: var(--dark-blue);
}

header {
  background: white;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

header a {
  color: black;
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex: 1;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

header nav ul li a {
  padding: 0 60px;
  font-size: 22px;
}



